In [122]:
import pandas as pd
import numpy as np

In [124]:
df = pd.read_csv('cleaned_book_store_data.csv', delimiter=',', encoding='ISO-8859-1')

In [125]:
df.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-M,User-ID,Book-Rating,Country
0,0002005018,Clara Callan,richard bruce wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,8,5,canada
1,0002005018,Clara Callan,richard bruce wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,67544,8,canada
2,0002005018,Clara Callan,richard bruce wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,116866,9,usa
3,0002005018,Clara Callan,richard bruce wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,123629,9,canada
4,0002005018,Clara Callan,richard bruce wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,200273,8,canada

## Step 1: Group books by Country and get top rated books

In [129]:
def get_popular_books_by_country(df, n=10):
    # Group by country, calculate average ratings and counts
    country_group = df.groupby('Country').agg({
        'Book-Title': lambda x: x.value_counts().index.tolist(),  # Most read books
        'Book-Rating': 'mean',  # Average rating for the country
        'Year-Of-Publication': 'first'  # To handle recent books
    })
    return country_group[['Book-Title']].apply(lambda x: x[:n])

In [131]:
popular_books_by_country = get_popular_books_by_country(df)

## Step 2: Recommend books for new users based on their country

In [134]:
def recommend_books_for_new_user(state, popular_books_by_country, n=10):
    if country in popular_books_by_country.index:
        return popular_books_by_country.loc[country, 'Book-Title'][:n]  # Return top 'n' books
    else:
        return "No data available for this Country. Here are popular national books."

## Step 3: Fallback strategy (e.g., National popular books)

In [137]:
national_popular_books = df['Book-Title'].value_counts().head(10)

In [142]:
country = 'afghanistan'
recommendations = recommend_books_for_new_user(country, popular_books_by_country)
if recommendations == "No data available for this state.":
    recommendations = national_popular_books
print(recommendations)

['It Was on Fire When I Lay Down on It', "One Hundred Years of Solitude (Oprah's Book Club)", 'In Retrospect: The Tragedy and Lessons of Vietnam']