In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('cleaned_book_store_data.csv', delimiter=',', encoding='ISO-8859-1')

In [5]:
df.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-M,User-ID,Age,Book-Rating
0,0002005018,Clara Callan,richard bruce wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,8,35,5
1,0002005018,Clara Callan,richard bruce wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,11676,35,8
2,0002005018,Clara Callan,richard bruce wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,67544,30,8
3,0002005018,Clara Callan,richard bruce wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,116866,35,9
4,0002005018,Clara Callan,richard bruce wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,123629,35,9

# New Users

## Step 1: Group books by Age and get top rated books

In [59]:
def get_popular_books_by_age(df, n=10):
    # Group by age, calculate average ratings and counts
    age_group = df.groupby('Age').agg({
        'Book-Title': lambda x: list(x),  # List of book titles read by users of that age
        'Book-Rating': 'mean',  # Average rating for the age
        'Year-Of-Publication': 'first'  # To handle recent books
    })
    return age_group[['Book-Title']]

In [61]:
popular_books_by_age = get_popular_books_by_age(df)

## Step 2: Recommend books for new users based on their age

In [73]:
def recommend_books_for_new_user(age, popular_books_by_age, n=10):
    # Ensure age is an integer for comparison
    if age in popular_books_by_age.index:
        # Retrieve and return the book titles for the specified age
        return popular_books_by_age.loc[age, 'Book-Title'][:n]  # Return the list of book titles
    else:
        return "No data available for this age group. Here are the most popular books."

In [78]:
age = 20  # Replace with the user's age
popular_books_by_age = get_popular_books_by_age(df)  # Ensure this is called to get the updated DataFrame
recommendations = recommend_books_for_new_user(age, popular_books_by_age)

if recommendations == "No data available for this age group.":
    national_popular_books = df['Book-Title'].value_counts().head(10).index.tolist()  # Get titles as a list
    recommendations = national_popular_books

# Display the recommendations
print("Recommended Books:")
recommendations

Recommended Books:

['The Testament',
 'New Vegetarian: Bold and Beautiful Recipes for Every Occasion',
 'Wild Animus',
 'Wild Animus',
 'Wild Animus',
 'Wild Animus',
 'Wild Animus',
 'Wild Animus',
 'Wild Animus',
 'Wild Animus']