In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('cleaned_book_store_data.csv', delimiter=',', encoding='ISO-8859-1')

In [5]:
df.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-M,User-ID,Age,Book-Rating
0,0002005018,Clara Callan,richard bruce wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,8,35,5
1,0002005018,Clara Callan,richard bruce wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,11676,35,8
2,0002005018,Clara Callan,richard bruce wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,67544,30,8
3,0002005018,Clara Callan,richard bruce wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,116866,35,9
4,0002005018,Clara Callan,richard bruce wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,123629,35,9

# New Users

## Step 1: Group books by Age and get top rated books

In [59]:
def get_popular_books_by_age(df, n=10):
    # Group by age, calculate average ratings and counts
    age_group = df.groupby('Age').agg({
        'Book-Title': lambda x: list(x),  # List of book titles read by users of that age
        'Book-Rating': 'mean',  # Average rating for the age
        'Year-Of-Publication': 'first'  # To handle recent books
    })
    return age_group[['Book-Title']]

In [61]:
popular_books_by_age = get_popular_books_by_age(df)

## Step 2: Recommend books for new users based on their age

In [73]:
def recommend_books_for_new_user(age, popular_books_by_age, n=10):
    # Ensure age is an integer for comparison
    if age in popular_books_by_age.index:
        # Retrieve and return the book titles for the specified age
        return popular_books_by_age.loc[age, 'Book-Title'][:n]  # Return the list of book titles
    else:
        return "No data available for this age group. Here are the most popular books."

In [78]:
age = 20  # Replace with the user's age
popular_books_by_age = get_popular_books_by_age(df)  # Ensure this is called to get the updated DataFrame
recommendations = recommend_books_for_new_user(age, popular_books_by_age)

if recommendations == "No data available for this age group.":
    national_popular_books = df['Book-Title'].value_counts().head(10).index.tolist()  # Get titles as a list
    recommendations = national_popular_books

# Display the recommendations
print("Recommended Books:")
recommendations

Recommended Books:

['The Testament',
 'New Vegetarian: Bold and Beautiful Recipes for Every Occasion',
 'Wild Animus',
 'Wild Animus',
 'Wild Animus',
 'Wild Animus',
 'Wild Animus',
 'Wild Animus',
 'Wild Animus',
 'Wild Animus']

# New Books

## Create a Function to Identify New Books

In [133]:
# Function to get user IDs by author
def get_user_ids_by_author(author_name, df):
    # Retrieve unique user IDs for books by the specified author
    user_ids = df[df['Book-Author'] == author_name]['User-ID'].unique()
    return user_ids.tolist()  # Convert to list for easier handling

In [135]:
# Example author name
author_name = 'frank mccourt'  # Replace with the author's name you want to query
user_ids = get_user_ids_by_author(author_name, df)

In [137]:
# Display user IDs
if user_ids:
    # Ensure user_ids are strings for joining
    user_ids_str = [str(user_id) for user_id in user_ids]
    print(f"Recommend your new book by {author_name} to users: {', '.join(user_ids_str)}")
else:
    print(f"No users found who have rated books by {author_name}.")

Recommend your new book by frank mccourt to users: 1435, 11362, 11676, 14546, 15351, 15408, 17058, 18439, 25253, 26583, 31229, 33816, 37133, 37989, 39345, 47293, 54884, 57234, 57599, 61038, 67402, 70931, 73884, 75306, 75556, 78015, 83698, 105517, 108118, 111656, 112435, 112982, 113270, 120090, 121731, 125774, 126296, 130571, 130950, 136071, 144062, 146266, 152651, 161467, 162917, 166581, 168743, 179189, 183257, 183883, 185087, 187256, 187863, 188057, 189782, 192662, 195904, 206305, 212970, 215388, 219008, 221655, 223605, 225043, 229313, 231210, 237990, 239020, 244657, 250764, 252901, 253310, 256407, 257700, 269349, 270820, 274362, 503, 1025, 4017, 6242, 6251, 6575, 6577, 8937, 14422, 14451, 17950, 23902, 28634, 29041, 30276, 35424, 41620, 45315, 46398, 53946, 55539, 56959, 60244, 64968, 74175, 81207, 85526, 86202, 90646, 94376, 98904, 99832, 101876, 102967, 104125, 111133, 112507, 116395, 116876, 117111, 117308, 136720, 142121, 143587, 149071, 154543, 159720, 165319, 178151, 179906, 180651, 181687, 182551, 187065, 187145, 187410, 190479, 192093, 194172, 198915, 206109, 206959, 207339, 208671, 209174, 211426, 216057, 217740, 219321, 219713, 220448, 221050, 222207, 229329, 231393, 232936, 238903, 239010, 240567, 240587, 246088, 247840, 251394, 251541, 255300, 259111, 264543, 266466, 269835, 270484, 272349, 274301, 901, 16383, 24922, 32440, 39305, 43992, 45305, 57974, 64171, 69405, 70052, 73815, 76350, 77228, 81227, 81855, 86243, 114279, 120080, 126156, 140000, 147156, 147162, 148258, 149908, 154112, 159863, 164096, 168646, 176638, 221672, 231613, 231854, 234554, 235948, 246678, 249626, 256820, 262407, 262902, 2250, 2271, 8245, 10630, 11325, 11687, 13231, 16795, 19107, 23772, 31436, 35925, 36229, 37244, 41084, 41403, 42718, 46920, 54898, 55486, 56856, 58363, 59486, 62891, 64435, 69078, 72990, 73955, 82414, 82431, 82445, 83637, 86906, 89320, 91634, 92979, 98263, 100506, 100906, 101305, 102812, 103336, 104880, 107594, 107911, 108130, 109084, 110912, 111749, 112083, 113519, 116000, 117925, 119066, 129019, 129716, 132946, 133957, 135831, 138518, 138687, 141710, 145703, 147764, 150706, 150979, 153336, 154992, 156269, 160509, 162626, 167746, 168169, 169492, 173280, 175206, 182055, 190741, 197973, 202174, 202353, 204864, 211303, 212109, 216099, 216466, 218552, 218721, 222677, 223145, 223291, 223315, 231672, 234565, 239407, 240401, 240932, 241548, 242098, 246201, 246311, 246759, 248477, 251613, 253771, 255582, 257554, 262713, 263238, 263325, 263357, 265043, 265241, 267538, 270352, 273190, 274418, 274549, 277965, 10590, 33818, 201548, 22625, 44252, 52584, 52807, 59150, 65258, 66942, 78448, 79977, 86463, 97044, 102032, 104429, 109135, 112987, 113657, 115252, 128696, 139387, 146048, 154975, 172119, 174216, 179826, 184401, 206958, 212547, 216435, 217468, 224249, 231255, 236659, 251506, 251667, 251843, 255489, 264996, 265751, 13273, 62862, 89029, 117173, 121170, 123883, 128119, 142479, 144038, 159834, 167176, 192244, 195278, 203161, 223768, 226772, 262118, 264831, 274393, 3168, 3869, 6501, 6563, 6772, 7346, 7507, 7887, 8188, 9902, 12289, 16551, 19711, 21540, 21550, 21750, 22828, 31393, 34597, 37712, 43842, 44910, 51526, 69382, 69597, 75089, 77222, 77768, 78783, 81597, 81771, 82511, 87579, 88825, 89402, 90049, 92278, 93386, 95881, 96843, 97330, 102705, 104468, 105987, 106225, 108496, 109574, 111657, 112001, 112026, 112401, 115783, 117328, 117330, 123597, 133654, 134837, 141016, 143302, 147847, 150000, 157123, 157799, 159817, 162671, 166737, 166934, 167192, 172311, 175117, 175185, 176481, 178144, 182459, 182821, 182931, 183725, 184629, 189139, 190831, 196253, 197727, 197728, 200226, 200607, 201557, 201641, 202997, 203516, 206534, 207246, 208095, 210275, 211292, 213126, 219420, 220118, 222363, 226215, 226961, 231305, 232959, 233578, 233747, 233931, 237660, 239535, 242884, 243929, 243996, 245328, 245645, 247059, 247336, 250510, 250876, 253622, 258982, 259041, 269556, 276038, 64373, 188133, 134434, 229283, 248356, 126941, 241198, 151441, 12835, 131921, 137236, 254852, 18384, 38281, 171904, 71837, 81274, 131398, 191521, 196118, 201537, 202664, 216420, 236173, 94861, 137680, 187954, 222488, 242467, 28993, 219181, 276077, 62348, 66423, 154125, 92571, 70999, 110988, 141941, 140822

In [125]:
# Group by 'Book-Author' and count the number of unique 'Book-Title' entries
author_book_counts = df.groupby('Book-Author')['Book-Title'].count().reset_index()

# Rename the columns for clarity
author_book_counts.columns = ['Book-Author', 'Number of Books']

# Sort the authors by the number of books in descending order
author_book_counts = author_book_counts.sort_values(by='Number of Books', ascending=False)

# Display the result
print(author_book_counts.head(50))  # Display the top 50 authors

                     Book-Author  Number of Books
53911               stephen king             4703
28741               john grisham             3670
43375               nora roberts             3001
25061            james patterson             2387
23883              j. k. rowling             1746
39148         mary higgins clark             1713
40401           michael crichton             1705
3104                   anne rice             1630
25686            janet evanovich             1490
12770             dean r. koontz             1475
11398             danielle steel             1452
54544                sue grafton             1404
56994                 tom clancy             1225
42984            nicholas sparks             1131
11027                  dan brown             1115
2571                anita shreve             1027
4417          barbara kingsolver             1008
44409  patricia daniels cornwell              943
1430                alice sebold              928
3067              anne mccaffrey              924
51665               sandra brown              915
28844                john irving              890
36833               maeve binchy              887
57792               v.c. andrews              886
556              agatha christie              864
29719         jonathan kellerman              844
59751        william shakespeare              838
42754                neil gaiman              819
24164              jack canfield              809
55969            terry pratchett              807
46677              piers anthony              805
47747              rebecca wells              783
14577              douglas adams              748
29307              john sandford              713
34934       lilian jackson braun              711
49930                 robin cook              703
43753           orson scott card              700
37340            margaret atwood              690
1958                     amy tan              687
25416                jane austen              686
22062             helen fielding              684
8160           catherine coulter              675
30462              jude deveraux              658
12759                dean koontz              656
30692                 judy blume              656
24109             j.r.r. tolkien              654
58646                 wally lamb              645
32511                ken follett              641
56691                 tim lahaye              632
18253              frank mccourt              610